{
  "openapi": "3.0.3",
  "info": {
    "title": "Tantei projected Tenrai contract",
    "version": "1.0.19"
  },
  "servers": [
    {
      "url": "https://api.tenrai.org/v1"
    }
  ],
  "paths": {
    "/anime/{id}": {
      "get": {
        "operationId": "getAnimeById",
        "tags": [
          "Tenrai"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response returning anime details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - the supplied X-Server-Key is invalid; restricted endpoints also require a Server Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Nginx temporarily blocked the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found - The requested record does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - only GET, HEAD, and OPTIONS are accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded - wait for the duration in Retry-After before retrying",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying the request.",
                "schema": {
                  "type": "string",
                  "pattern": "^[1-9][0-9]*$",
                  "example": "1"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - the API gateway could not reach the upstream service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The API is temporarily offline or busy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying the request.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "1"
                  ]
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout - the upstream service did not respond in time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          }
        }
      }
    },
    "/manga/{id}": {
      "get": {
        "operationId": "getMangaById",
        "tags": [
          "Tenrai"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response returning manga details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - the supplied X-Server-Key is invalid; restricted endpoints also require a Server Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Nginx temporarily blocked the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found - The requested record does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - only GET, HEAD, and OPTIONS are accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded - wait for the duration in Retry-After before retrying",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying the request.",
                "schema": {
                  "type": "string",
                  "pattern": "^[1-9][0-9]*$",
                  "example": "1"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - the API gateway could not reach the upstream service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The API is temporarily offline or busy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying the request.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "1"
                  ]
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout - the upstream service did not respond in time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          }
        }
      }
    },
    "/anime/{id}/characters": {
      "get": {
        "operationId": "getAnimeByIdCharacters",
        "tags": [
          "Tenrai"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response returning characters and voice actors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CharactersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - the supplied X-Server-Key is invalid; restricted endpoints also require a Server Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Nginx temporarily blocked the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found - The requested record does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - only GET, HEAD, and OPTIONS are accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded - wait for the duration in Retry-After before retrying",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying the request.",
                "schema": {
                  "type": "string",
                  "pattern": "^[1-9][0-9]*$",
                  "example": "1"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - the API gateway could not reach the upstream service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The API is temporarily offline or busy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying the request.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "1"
                  ]
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout - the upstream service did not respond in time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          }
        }
      }
    },
    "/anime": {
      "get": {
        "operationId": "getAnime",
        "tags": [
          "Tenrai"
        ],
        "parameters": [
          {
            "name": "producers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "mal_id",
                "title",
                "start_date",
                "end_date",
                "episodes",
                "score",
                "scored_by",
                "rank",
                "popularity",
                "members",
                "favorites"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response returning matching anime series",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnimeSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - the supplied X-Server-Key is invalid; restricted endpoints also require a Server Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Nginx temporarily blocked the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found - The requested record does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - only GET, HEAD, and OPTIONS are accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded - wait for the duration in Retry-After before retrying",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying the request.",
                "schema": {
                  "type": "string",
                  "pattern": "^[1-9][0-9]*$",
                  "example": "1"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - the API gateway could not reach the upstream service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The API is temporarily offline or busy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying the request.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "1"
                  ]
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout - the upstream service did not respond in time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          }
        }
      }
    },
    "/characters/{id}": {
      "get": {
        "operationId": "getCharactersById",
        "tags": [
          "Tenrai"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response returning character details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CharacterResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - the supplied X-Server-Key is invalid; restricted endpoints also require a Server Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Nginx temporarily blocked the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found - The requested record does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - only GET, HEAD, and OPTIONS are accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded - wait for the duration in Retry-After before retrying",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying the request.",
                "schema": {
                  "type": "string",
                  "pattern": "^[1-9][0-9]*$",
                  "example": "1"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - the API gateway could not reach the upstream service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The API is temporarily offline or busy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying the request.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "1"
                  ]
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout - the upstream service did not respond in time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          }
        }
      }
    },
    "/characters/{id}/full": {
      "get": {
        "operationId": "getCharactersByIdFull",
        "tags": [
          "Tenrai"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response returning full character details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CharacterFullResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - the supplied X-Server-Key is invalid; restricted endpoints also require a Server Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Nginx temporarily blocked the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found - The requested record does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - only GET, HEAD, and OPTIONS are accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded - wait for the duration in Retry-After before retrying",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying the request.",
                "schema": {
                  "type": "string",
                  "pattern": "^[1-9][0-9]*$",
                  "example": "1"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - the API gateway could not reach the upstream service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The API is temporarily offline or busy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying the request.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "1"
                  ]
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout - the upstream service did not respond in time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          }
        }
      }
    },
    "/characters/{id}/anime": {
      "get": {
        "operationId": "getCharactersByIdAnime",
        "tags": [
          "Tenrai"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response returning matching anime series",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CharacterAnimeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - the supplied X-Server-Key is invalid; restricted endpoints also require a Server Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Nginx temporarily blocked the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found - The requested record does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - only GET, HEAD, and OPTIONS are accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded - wait for the duration in Retry-After before retrying",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying the request.",
                "schema": {
                  "type": "string",
                  "pattern": "^[1-9][0-9]*$",
                  "example": "1"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - the API gateway could not reach the upstream service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The API is temporarily offline or busy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying the request.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "1"
                  ]
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout - the upstream service did not respond in time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          }
        }
      }
    },
    "/people/{id}": {
      "get": {
        "operationId": "getPeopleById",
        "tags": [
          "Tenrai"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response returning person details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - the supplied X-Server-Key is invalid; restricted endpoints also require a Server Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Nginx temporarily blocked the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found - The requested record does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - only GET, HEAD, and OPTIONS are accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded - wait for the duration in Retry-After before retrying",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying the request.",
                "schema": {
                  "type": "string",
                  "pattern": "^[1-9][0-9]*$",
                  "example": "1"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - the API gateway could not reach the upstream service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The API is temporarily offline or busy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying the request.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "1"
                  ]
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout - the upstream service did not respond in time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          }
        }
      }
    },
    "/people/{id}/voices": {
      "get": {
        "operationId": "getPeopleByIdVoices",
        "tags": [
          "Tenrai"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response returning voice roles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonVoicesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - the supplied X-Server-Key is invalid; restricted endpoints also require a Server Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Nginx temporarily blocked the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found - The requested record does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - only GET, HEAD, and OPTIONS are accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded - wait for the duration in Retry-After before retrying",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying the request.",
                "schema": {
                  "type": "string",
                  "pattern": "^[1-9][0-9]*$",
                  "example": "1"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - the API gateway could not reach the upstream service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The API is temporarily offline or busy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying the request.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "1"
                  ]
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout - the upstream service did not respond in time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          }
        }
      }
    },
    "/people/{id}/full": {
      "get": {
        "operationId": "getPeopleByIdFull",
        "tags": [
          "Tenrai"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response returning person full details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonFullResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - the supplied X-Server-Key is invalid; restricted endpoints also require a Server Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Nginx temporarily blocked the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found - The requested record does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - only GET, HEAD, and OPTIONS are accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded - wait for the duration in Retry-After before retrying",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying the request.",
                "schema": {
                  "type": "string",
                  "pattern": "^[1-9][0-9]*$",
                  "example": "1"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - the API gateway could not reach the upstream service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The API is temporarily offline or busy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying the request.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "1"
                  ]
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout - the upstream service did not respond in time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          }
        }
      }
    },
    "/producers/{id}": {
      "get": {
        "operationId": "getProducersById",
        "tags": [
          "Tenrai"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response returning producer details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProducerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - the supplied X-Server-Key is invalid; restricted endpoints also require a Server Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Nginx temporarily blocked the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found - The requested record does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - only GET, HEAD, and OPTIONS are accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded - wait for the duration in Retry-After before retrying",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying the request.",
                "schema": {
                  "type": "string",
                  "pattern": "^[1-9][0-9]*$",
                  "example": "1"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - the API gateway could not reach the upstream service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The API is temporarily offline or busy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying the request.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "1"
                  ]
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout - the upstream service did not respond in time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenraiError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CatalogReference": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "MediaData": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "themes": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/CatalogReference"
            }
          },
          "demographics": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/CatalogReference"
            }
          }
        }
      },
      "MediaResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/MediaData"
          }
        }
      },
      "PersonReference": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "VoiceActor": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "person": {
            "$ref": "#/components/schemas/PersonReference"
          },
          "language": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Character": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "voice_actors": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/VoiceActor"
            }
          }
        }
      },
      "CharactersResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Character"
            }
          }
        }
      },
      "ImageUrls": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "image_url": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ImageSet": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "jpg": {
            "$ref": "#/components/schemas/ImageUrls"
          }
        }
      },
      "AnimeReference": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "title": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string",
            "nullable": true
          },
          "images": {
            "$ref": "#/components/schemas/ImageSet"
          }
        }
      },
      "AnimeSearchResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AnimeReference"
            }
          }
        }
      },
      "CharacterDetails": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "about": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CharacterResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/CharacterDetails"
          }
        }
      },
      "CharacterAnimeEntry": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "role": {
            "type": "string",
            "nullable": true
          },
          "anime": {
            "$ref": "#/components/schemas/AnimeReference"
          }
        }
      },
      "CharacterFullDetails": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "about": {
            "type": "string",
            "nullable": true
          },
          "anime": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/CharacterAnimeEntry"
            }
          }
        }
      },
      "CharacterFullResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/CharacterFullDetails"
          }
        }
      },
      "CharacterAnimeResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CharacterAnimeEntry"
            }
          }
        }
      },
      "PersonDetails": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "about": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "PersonResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/PersonDetails"
          }
        }
      },
      "CharacterReference": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "MangaReference": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "title": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "PersonVoiceEntry": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "role": {
            "type": "string",
            "nullable": true
          },
          "anime": {
            "$ref": "#/components/schemas/AnimeReference"
          },
          "character": {
            "$ref": "#/components/schemas/CharacterReference"
          }
        }
      },
      "PersonStaffAnimeEntry": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "position": {
            "type": "string",
            "nullable": true
          },
          "anime": {
            "$ref": "#/components/schemas/AnimeReference"
          }
        }
      },
      "PersonStaffMangaEntry": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "position": {
            "type": "string",
            "nullable": true
          },
          "manga": {
            "$ref": "#/components/schemas/MangaReference"
          }
        }
      },
      "PersonFullDetails": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "anime": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/PersonStaffAnimeEntry"
            }
          },
          "manga": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/PersonStaffMangaEntry"
            }
          }
        }
      },
      "PersonFullResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/PersonFullDetails"
          }
        }
      },
      "PersonVoicesResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonVoiceEntry"
            }
          }
        }
      },
      "ProducerTitle": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ProducerDetails": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "url": {
            "type": "string",
            "nullable": true
          },
          "titles": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/ProducerTitle"
            }
          }
        }
      },
      "ProducerResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ProducerDetails"
          }
        }
      },
      "TenraiError": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "message": {
            "type": "string",
            "nullable": true
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "path": {
            "type": "string",
            "nullable": true
          }
        }
      }
    }
  }
}
