name: Lint

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Lint Code Base
        uses: github/super-linter@v4
        env:
          VALIDATE_ALL_CODEBASE: false
          # TODO set to true after refactoring
          VALIDATE_JSCPD: false # Checks code for duplicates
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}